
header {
	/* text-align: center; */
	margin: 0;
	padding: 0;
	display: flex;
	width: 100%;
	font-size: 16px;
	background-color: #052035;
	justify-content: start;
	font-family: 'Fira Sans Condensed';
	font-weight: bolder;
	/* align-items: center; */
	box-shadow: 0px 5px 5px rgba(15, 14, 14, 0.25);
	z-index: +1;
	flex-flow: wrap;
}

@media screen and (min-width: 800px) {
	header {
		display: flex;
		flex-direction: row;
		width: 100%;
	}
}

.logoNav {
	display: flex;
	flex-flow: wrap;
	/* justify-content: space-between; */
	margin-left: 80px;



}


a {
	text-decoration: none;
}

nav {
	margin: 0;
	padding: 0;
	display:flex;
	flex-flow: wrap;
	font-size: 16px;
	background-color: #052035;
	font-weight: bolder;
	justify-content: start;
	align-items: center;

}

.menu {
	/* display: block; */
	flex-flow: wrap;
	margin: 0;
	align-items: center;
	list-style: none;

}

@media screen and (min-width: 400px) {
	.menu {
		display: flex;
		flex-direction: row;
		justify-content:center;
		align-items: start;
	}
}
@media screen and (max-width: 900px) {
	.menu li{
		width: 100%;
		flex-direction: row;
		justify-content:flex-start;
		align-items: start;
	}
}
@media screen and (max-width: 900px) {
	.logoNav {
		display: flex;
		flex-direction: row;
		
		width: 100%;
		align-items: start;
	}
}

.menu li {
	margin: 20px;
	display: block;
	margin: 0;
	align-items: center;
	list-style: none;
	padding: 20px;
}

nav a {
	color: #BAD6DA;
	padding: 22.45px 50px;



}

.log a {
	text-decoration: none;
	color: #BAD6DA;
}

nav a:hover {
	color: #052035;
	background-color: #BAD6DA;

}