.historia {
	display: flex;
	text-align: center;
	justify-content: space-between;
	/* align-items: center; */
	width: 100%;
	flex-flow:wrap;
}

.historia-t {
	width: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-flow:wrap;
}

.historia-t h1 {
	font-family: 'Fira Sans Condensed';
	font-size: 90px;
	text-align: center;
	-webkit-text-fill-color: transparent;
	-webkit-text-stroke: 2px #027496;
	color: #6ca4c4;
	letter-spacing: 4;
	/* flex-flow:wrap; */

}
.historia-contenedor{
	width: 100%;
	justify-content: center;
	flex-flow:wrap;
	display: flex;
}
.historia-texto{
	
	font-family: 'Fira Sans Condensed';
	font-weight: 350;
	font-size: calc(0.9vw + 0.7em) !important;
	justify-content: start;
	flex-flow:wrap;
}
.historia-texto p {
	
	color: black;
	text-align: justify;
}


.galeria-int {
	padding: 20px;
	margin: 10px;
	display: flex;
	justify-content: start;
	flex-flow:wrap;
	align-items:flex-end;
}