.contjugadores {
	display: flex;
	align-items: center;
	width: 100%;
	justify-content: center;
	flex-flow: wrap;

}
.convocatoria {
	justify-content: center;
	-webkit-text-fill-color: transparent;
	-webkit-text-stroke: 3px #027496;
    font-size: 70px;
	letter-spacing: 3.25px;
	width: 100%;
	height: 150px;
	padding: 20px;
	margin-bottom: 10px;
	text-align: center;
}

.convocatoria h1 {
	text-align: center;
	
	/* font-size: calc(4.5vw + 0.7em) !important; */

}